/*body{position:relative}*/
.overlay,.sideMenu{
	position:fixed;
	bottom:0
}
.overlay{
	top:0;
	margin:auto;
	z-index:998;
	transition: all ease 0.2s;
}
.overlay.open{
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.4);
}.sidebarNavigation{
	margin-bottom:0;
	z-index:998;
	justify-content:flex-start;
	box-shadow: 1px 1px 10px 2px #5B5B5B;
}
.sidebarNavigation .leftNavbarToggler{
	margin-right:10px;
	order:-1;
	padding-top: 9px;
	padding-bottom: 9px;
}
.sideMenu{
	left:-100%;
	top:0px;
	transition:all ease-out 0.2s;
	overflow:hidden;
	width:100%;
	z-index:999;
	max-width:288px;
	margin-bottom:0;
}
.sideMenu.open{
	left: 0;
	display:block;
	overflow-y:auto;
}
.sideMenu ul{
	margin-top: 10px;
}

.sideMenu ul li a i{
	margin-left: 18px;
}
.sideMenu ul li a:hover{
	background-color: #EDEDED;
}

.bg-nav, .sidebarNavigation{
	background-image: linear-gradient(320deg, #54ECA6, #007BFF);
}

.container-user{
	height: 150px;
	padding: 15px;
	box-shadow: 1px 1px 7px 0px #5B5B5B;
	background-image: linear-gradient(320deg, #54ECA6, #007BFF);
}

.navbar-brand{
	font-weight: bold;
}

.img-user{
	width: 70px;
	height: auto;
}

.user{
	padding-top: 15px;
	font-weight: bold;
	text-transform: capitalize;
}

.block-scroll{
	overflow: auto;
	height: 100%;
}

.menu-more{
	position: absolute;
	top: 6px;
	right: 0px;
	z-index: 999999;
}

.dm-more{
	margin-top: 8px;
	margin-left: -110px;
}

.icon-more{
	font-size: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	transform: rotate(90deg);
}

.ts-2{
	transform: scale(1.5);
	padding: 5px;
}

.bg-ova{
	background-color: rgba(0,0,0,0);
}


